
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #eeeeee; /* Optional: Set it to # e8e8e8 eeeeee */
  margin: 0; /* Removes default margin */
  font-family: Arial, sans-serif; /* Optional: Set a default font */
}